@import "tailwindcss";

@theme {
  --color-cream: #f8f4ec;
  --color-bark: #3d2f24;
  --color-forest: #2d5a3d;
}


@layer base {
  body {
    background-color: var(--color-cream);
    color: var(--color-bark);
  }
}